<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'app_user/create.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'nav/nav.css' %}"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'app_user/create.js' %}"></script>
</head>
<body>
    <div class="w-full bg-zinc-800 h-20 flex justify-between items-center px-8">
        <nav class="flex items-center w-full">
            <div class="flex space-x-8">
                <a href="{% url 'index' %}" class="text-white hover:text-gray-300 block px-4 py-2">Home</a>
                <a href="{% url 'myItems' %}" class="text-white hover:text-gray-300 block px-4 py-2">My Items</a>
                <a href="{% url 'purchases' %}" class="text-white hover:text-gray-300 block px-4 py-2">Purchases</a>
                <a href="{% url 'createItem' %}" class="text-white hover:text-gray-300 block px-4 py-2">Create Listing</a>
                <a href="{% url 'viewCart' %}" class="text-white hover:text-gray-300 block px-4 py-2">View Cart</a>
            </div>
            <h1 class="text-4xl font-bold text-white absolute left-1/2 -translate-x-1/2">Market</h1>
            <div class="ml-auto flex space-x-8">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="text-white hover:text-gray-300 block px-4 py-2">Logout</a>
                {% else %}
                    <a href="{% url 'loginPage' %}" class="text-white hover:text-gray-300 block px-4 py-2">Login</a>
                {% endif %}
            </div>
        </nav>
    </div>
    <div class="login-container">
        <div class="login-box">
            <h1 class="prompt-title">Create Account</h1>
            <form action="{% url 'createUser' %}" method="POST" class="create-item-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="user-create-input">
                    <input name="email" id="email" type="text" class="email-input" placeholder="Email">
                </div>             
                <div class="user-create-input">
                    <input name="password" id="password" type="password" class="password-input" placeholder="Password"> 
                </div>
                <div class="user-create-input">
                    <input type="password" id="Password2" class="password-input" placeholder="Repeat Password"> 
                </div>
                <div class="user-create-input">
                    <p id="error-message" style="color: red;" hidden="true">Passwords don't match!</p>
                </div>
                <div class="submit-button" class="user-create-input">
                    <button class="create-item-button" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
