<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'app_user/create.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'nav/nav.css' %}"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'app_user/create.js' %}"></script>
</head>
<body>
    <div class="w-full bg-zinc-800">
        <div class="container mx-auto px-4 pt-4">
            <h1 class="text-4xl font-bold text-white text-center">Market</h1>
        </div>
    
        <div class="container mx-auto px-4 py-2">
            <nav class="flex justify-between items-center">
                <div class="flex space-x-8">
                    <a href="{% url 'index' %}" class="text-white hover:text-gray-300 block px-4 py-2">Home</a>
                    <a href="{% url 'myItems' %}" class="text-white hover:text-gray-300 block px-4 py-2">My Items</a>
                    <a href="{% url 'purchases' %}" class="text-white hover:text-gray-300 block px-4 py-2">Purchases</a>
                    <a href="{% url 'createItem' %}" class="text-white hover:text-gray-300 block px-4 py-2">Create Listing</a>
                    <a href="{% url 'viewCart' %}" class="text-white hover:text-gray-300 block px-4 py-2">View Cart</a>
                </div>
    
                <div class="flex space-x-4">
                    {% if user.is_authenticated %}
                        {% if user.is_superuser and user.is_staff %}
                            <a href="/admin/" class="text-white hover:text-gray-300 block px-4 py-2">Admin Panel</a>
                        {% endif %}
                        <a href="{% url 'profile_settings' %}" class="text-white hover:text-gray-300 block px-4 py-2">Profile Settings</a>
                        <a href="{% url 'logout' %}" class="text-white hover:text-gray-300 block px-4 py-2">Logout</a>
                    {% else %}
                        <a href="{% url 'loginPage' %}" class="text-white hover:text-gray-300 block px-4 py-2">Login</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
    <div class="login-container">
        <div class="login-box">
            <h1 class="prompt-title">Create Account</h1>
            <form action="{% url 'createUser' %}" method="POST" class="create-item-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="user-create-input">
                    <input name="email" id="email" type="text" class="email-input" placeholder="Email">
                </div>             
                <div class="user-create-input relative">
                    <input name="password" id="password" type="password" class="password-input" placeholder="Password"> 
                    <button type="button" onclick="togglePassword('password')" class="absolute right-2 top-1/2 transform -translate-y-1/2 text-white">Show</button>
                </div>
                <div class="user-create-input relative">
                    <input type="password" id="Password2" class="password-input" placeholder="Repeat Password">
                    <button type="button" onclick="togglePassword('Password2')" class="absolute right-2 top-1/2 transform -translate-y-1/2 text-white">Show</button>
                </div>
                <div class="user-create-input">
                    <p id="error-message" style="color: red;" hidden="true">Passwords don't match!</p>
                </div>
                <div class="submit-button" class="user-create-input">
                    <button class="create-item-button" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function togglePassword(id) {
            const passwordInput = document.getElementById(id);
            const button = passwordInput.nextElementSibling;
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                button.textContent = "Hide";
            } else {
                passwordInput.type = "password";
                button.textContent = "Show";
            }
        }
    </script>
</body>
</html>

