<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'app_user/login.css' %}">
    <link rel="stylesheet" href="{% static 'nav/nav.css' %}">
</head>
<body>
    <div class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item"><a class="active" href="{% url 'index' %}">Home</a></li>
            <li class="nav-item"><a href="#news">My Items</a></li>
            <li class="nav-item"><a href="{% url 'purchases' %}">Purchases</a></li>
            <li class="nav-item"><a href="{% url 'createItem' %}">Create Listing</a></li>
            {% if user.is_authenticated %}
                <li class="nav-item" style="float:right"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class="nav-item" style="float:right"><a href="{% url 'loginPage' %}">Login</a></li>
            {% endif %}            
            <li class="nav-item" style="float:right"><a href="#about">About</a></li>
        </ul>
    </div>
    <div class="login-container">
        <div class="login-box">
            <h1 class="prompt-title">Login</h1>
            <form action="{% url 'login' %}" method="POST" class="create-item-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="user-create-input">
                    <input name="email" id="email" type="text" class="email-input" placeholder="Email">
                </div>             
                <div class="user-create-input">
                    <input name="password" id="password" type="password" class="password-input" placeholder="Password"> 
                </div>
                <div class="user-create-input">
                    <p style="color: white;">Don't have an account?</p>
                    <a href="{%url 'createAccount'%}" class="create-account">Create Account</a>
                </div>
                <div class="submit-button" class="user-create-input">
                    <button class="create-item-button" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
