.create-item-outer{
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

.create-item-inner{
    text-align: center;
}

.item-title{
    text-align: center;
    margin-top: 15px;
}

.item-description{
    text-align: center;
    margin-top: 15px;
}

.item-description{
    text-align: center;
    margin-top: 15px;
}

.item-price{
    text-align: center;
    margin-top: 15px;
}

.item-image{
    text-align: center;
    margin-top: 15px;
}

.submit-button{
    text-align: center;
}

.create-item-button{
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    display: inline-block;
    padding: 15px 25px;
}

.create-item-button {background-color: #3e8e41}

.create-item-button {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}