.create-item-outer{
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

.create-item-inner{
    text-align: center;
}

.item-title{
    text-align: center;
    margin-top: 15px;
}

.item-description{
    text-align: center;
    margin-top: 15px;
}

.item-description{
    text-align: center;
    margin-top: 15px;
}

.item-price{
    text-align: center;
    margin-top: 15px;
}

.submit-button{
    text-align: center;
}

.create-item-button{
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    display: inline-block;
    padding: 15px 25px;
}

.create-item-button {background-color: #3e8e41}

.create-item-button {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.item-image {
    display: flex;                /* Use flexbox for alignment */
    flex-direction: column;      /* Stack items vertically */
    align-items: center;         /* Center items horizontally */
    margin-top: 15px;         /* Space below the item image section */
}

.upload-image-button {
    display: inline-block;        /* Make the label behave like a button */
    padding: 10px 20px;          /* Add padding for a button-like appearance */
    background-color: #333;   /* Green background */
    color: white;                /* White text color */
    border-radius: 4px;          /* Rounded corners */
    cursor: pointer;              /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background change */
}

.upload-image-button:hover {
    background-color: #218838;    /* Darker green on hover */
}

.item-description-input{
    width: 15%;
    height: 75px;
}

.item-title-input{
    width: 15%;
    height: 50px;
}