.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.nav-item {
    float: left;
    border-right:1px solid #bbb;
}
  
.nav-item:last-child {
    border-right: none;
}
  
.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.nav-item a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}

.nav-bar{
    width: 100%;
}

.search-div{
    width: 100%;
    margin-top: 300px;
}

.search-input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.search-box{
    width: 100%;
    text-align: center;
}

.search-button-div{
    text-align: center;
}

.search-button{
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    display: inline-block;
    padding: 15px 25px;
}

.search-button:hover {background-color: #3e8e41}

.search-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}