.search-container{
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 2%;
}
.search-title{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.search-items{
    width: 99%;
    text-align: left;
    flex-direction: row;
    display: flex;
    align-items: left;
}
.search-item-info{
    display: inline-block;
    margin-right: 15%;
    align-items: left;
    width: auto;
    height: 15%;
}
.search-img img {
    width: 100%; /* Scales the image to fit its container */
    max-width: 300px; /* Sets a maximum width */
    height: auto; /* Maintains aspect ratio */
    padding-left: 7%;
    padding-top: 7%;
}
.search-item-title{
    margin: 0; /* Remove default margins */
    font-size: 1em; /* Adjust size as needed */
    font-weight: bold; /* Optional: make the title bold */
    text-align: center;
}
.search-item{
    background-color: grey;
    width: 20%;
    border-radius: 10px;
    margin-right: 1%;
}
.search-td{
    display: flex;
    flex-direction: column; /* Stack children vertically */
    margin-bottom: 10px; /* Space between items */
}
.search-item-desc{
    margin: 0; /* Remove default margins */
}
.search-price{
    text-align: center;
    align-items: center;
}