<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'Item/createItem.css' %}">
    <link rel="stylesheet" href="{% static 'nav/nav.css' %}">
</head>
<body>
    <div class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item"><a class="active" href="{% url 'index' %}">Home</a></li>
            <li class="nav-item"><a href="#news">My Items</a></li>
            <li class="nav-item"><a href="#contact">Purchases</a></li>
            <li class="nav-item"><a href="{% url 'createItem' %}">Create Listing</a></li>
            <li class="nav-item" style="float:right"><a href="#about">Login</a></li> <!-- This needs some logic if they already logged in for l8r-->
            <li class="nav-item" style="float:right"><a href="#about">About</a></li>
        </ul>
    </div>
    <div class="create-item-outer">
        <div class="create-item-inner">
            <form action="{% url 'create' %}" method="POST" class="create-item-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="category">
                    <select name="category" required>
                        <option value="" disabled selected>Select a category</option> <!-- Non-selectable placeholder -->
                        <option value="homemade">Homemade</option>
                        <option value="collectible">Collectible</option>
                        <option value="general_market">General market</option>
                    </select>
                </div>
                <div class="item-title">
                    <textarea class="item-title-input" type="text" name="title" placeholder="Item Title" required></textarea>
                </div>
                <div class="item-description">
                    <textarea class="item-description-input" name="description" placeholder="Item Description" required></textarea>
                </div>
                <div class="item-price">
                    <input type="number" name="price" placeholder="Price" required>
                </div>
                <div class="item-image">
                    <label for="image" class="upload-image-button">Upload Image</label>
                    <input type="file" name="image" id="image" style="visibility:hidden;" accept="image/*" required>
                </div>                
                <div class="submit-button">
                    <button class="create-item-button" type="submit">Submit</button>
                </div>
            </form>
            
        </div>
    </div>
</body>
</html>
