<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'Item/search.css' %}">
    <link rel="stylesheet" href="{% static 'nav/nav.css' %}">
</head>
<body>
    <div class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item"><a class="active" href="{% url 'index' %}">Home</a></li>
            <li class="nav-item"><a href="#news">My Items</a></li>
            <li class="nav-item"><a href="#contact">Purchases</a></li>
            <li class="nav-item"><a href="{% url 'createItem' %}">Create Listing</a></li>
            {% if user.is_authenticated %}
                <li class="nav-item" style="float:right"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class="nav-item" style="float:right"><a href="{% url 'loginPage' %}">Login</a></li>
            {% endif %}            
            <li class="nav-item" style="float:right"><a href="#about">About</a></li>
        </ul>
    </div>


    <div class="search-container">
        <div class="search-title">
            <h1 class="search-title">Search for {{ title }}</h1>
        </div>
        <div class="search-items">
            {% for item in items %}
            <div class="search-item">
                <div class="search-item-info search-img">
                    <img src="{{ item.image.url }}" alt="{{item.title}}">
                </div>
                <div class="search-item-info search-td">
                    <div class="search-item-title">
                        <a href="{% url 'showItem' item.id %}">{{ item.title }}</a>
                    </div>
                    <div class="search-item-desc">
                        <p>Description: {{ item.description }}</p>
                    </div>
                </div>
                <div class="search-item-info search-price">
                    <p>Price: {{ item.price }}</p>
                </div>
                <div class="search-item-info">
                    <form action="{% url 'buy' item.id %}" method="get">
                        <button type="submit">Buy</button>
                    </form>
                </div>
            </div>
            {% empty %}
                    <h3>No items found matching your search.</h3>
            {% endfor %}
            </div>
        </div>


    </div>
</body>
</html>
